workflows/approval-workflow.json
{
  "name": "EchoFix: Approval to GitHub Issue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-insight",
        "options": {}
      },
      "name": "Webhook - Approval",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "echofix-approval"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"action\"]}}",
              "value2": "approve"
            }
          ]
        }
      },
      "name": "Check if Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://host.docker.internal:8000/api/insights/{{$json[\"body\"][\"insight_id\"]}}/status",
        "options": {},
        "bodyParametersJson": "={\"status\": \"approved\", \"user_id\": \"{{$json[\"body\"][\"user_id\"]}}\"}"
      },
      "name": "Update Status to Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        850,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/gemini/analyze/{{$json[\"body\"][\"insight_id\"]}}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Analyze with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/github/create-issue",
        "options": {},
        "bodyParametersJson": "={\"insight_id\": \"{{$json[\"body\"][\"insight_id\"]}}\"}"
      },
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1250,
        250
      ]
    },
    {
      "parameters": {
        "functionCode": "// Return success response\nconst issueUrl = $json.issue_url;\nconst issueNumber = $json.issue_number;\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: `GitHub issue #${issueNumber} created successfully`,\n      issue_url: issueUrl\n    }\n  }\n];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        250
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://host.docker.internal:8000/api/insights/{{$json[\"body\"][\"insight_id\"]}}/status",
        "options": {},
        "bodyParametersJson": "={\"status\": \"closed\"}"
      },
      "name": "Mark as Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        350
      ]
    }
  ],
  "connections": {
    "Webhook - Approval": {
      "main": [
        [
          {
            "node": "Check if Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Approved": {
      "main": [
        [
          {
            "node": "Update Status to Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Approved": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Analyze with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with Gemini": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "2"
}
