workflows/scheduled-ingestion.json
{
  "name": "EchoFix: Scheduled Reddit Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/reddit/ingest-seed",
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "{}"
      },
      "name": "Ingest Reddit Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"success\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/reddit/refresh-scores",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Refresh Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/insights/generate",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Generate Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        250
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/insights",
        "options": {}
      },
      "name": "Fetch Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1250,
        250
      ]
    },
    {
      "parameters": {
        "functionCode": "// Log results\nconst ingested = $('Ingest Reddit Data').first().json.total_imported;\nconst refreshed = $('Refresh Scores').first().json.pending_checked;\nconst ready = $('Refresh Scores').first().json.ready;\nconst processed = $('Generate Insights').first().json.entries_processed;\nconst insights = $('Fetch Insights').first().json.count;\n\nconsole.log(`Ingested: ${ingested}, Refreshed: ${refreshed}, Ready: ${ready}, Processed: ${processed}, Insights: ${insights}`);\n\nreturn [\n  {\n    json: {\n      ingested_entries: ingested,\n      entries_refreshed: refreshed,\n      entries_ready: ready,\n      entries_processed: processed,\n      insights_found: insights,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "name": "Log Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        250
      ]
    }
  ],
  "connections": {
    "Schedule Every 6 Hours": {
      "main": [
        [
          {
            "node": "Ingest Reddit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Reddit Data": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Refresh Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Scores": {
      "main": [
        [
          {
            "node": "Generate Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Insights": {
      "main": [
        [
          {
            "node": "Fetch Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Insights": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "1"
}
